html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

footer a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f8fb;
    color: #333;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
    font-weight: 600;
    color: #606870 !important;
}

.navbar-brand:hover{
    color: #007bff !important;
}

.nav-link {
    color: #333 !important;
}

.nav-link:hover {
    color: #007bff !important;
}

.btn-primary {
    background-color: #606870;
    border: none;
}

.btn-outline-primary {
    border: 1px solid #606870;
    color: #606870;
}

.btn-outline-primary:hover {
    background-color: #005ec3;
    color: white;
}

.btn-sm:hover {
    background-color: #005ec3;
}
.card {
    border: none;
    border-radius: 12px;
    color: #333;
}

/* Full Calendar Customization */

:root {
    --fc-button-hover-bg-color: #005ec3;
    --fc-button-hover-border-color: #005ec3;
    --fc-event-selected-overlay-color: #005ec3;
}